<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="stock">
    <mat-header-cell *matHeaderCellDef>Stock</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.stock | number }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastUpdatedDate">
    <mat-header-cell *matHeaderCellDef>Last Updated Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.lastUpdatedDate | date }}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
